:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 
}

.home-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.home-container .home-card{
  width: 300px;
  padding: 11px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 4px rgb(243, 242, 242);
  background-color: white;
}

.heading{
  text-align: center;
}

.btn-view{
  margin-top: 22px;
  display: flex;
  justify-content: center;
}

.btn-view a{
  text-decoration: none;
  color: white;
}

.btn-view button{
  width: fit-content;
  padding: 8px;
  border: none;
  background: rgba(6, 168, 233, 0.858);
  color: white;
  border-radius: 4px;
  font-size: 18px;
}

.details-card{
  width: 500px;
  padding: 11px;
  border-radius: 8px;
  background: white;
  background-color: silver;
}